<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
      <small class="bg-brand/5 text-[0.8125rem] ml-3 rounded-full px-2 font-medium leading-6">
        Phoenix v<%= Application.spec(:phoenix, :vsn) %>
      </small>
</div>
<h1>Hello and welcome!</h1>
